# Reading HTML tables using Pandas

In our logging practice, we will use the data "Top Grossing Movies of 2021".
Here, we obtain the data "Top Grossing Movies of 2021" from the website and check out what this data looks like.
<br>
I watched the tutorial "Data Analysis with Python - Full Course for Beginners (Numpy, Pandas, Matplotlib, Seaborn)."

https://www.youtube.com/watch?v=r-uOLxNrNk8&t=13929s

In [ ]:
import pandas as pd
import numpy as np
import requests

html_url = "https://www.the-numbers.com/market/2021/top-grossing-movies"
r = requests.get(html_url)
top_movie = pd.read_html(r.text, header=0)

In [ ]:
print(pd.__version__)

In [ ]:
len(top_movie)

In [ ]:
movie = top_movie[0]

In [ ]:
movie.head()

In [ ]:
movie.tail()

In [ ]:
movie.set_index('Rank', inplace=True)

In [ ]:
movie = movie.drop(['Total Gross of All Movies', 'Total Tickets Sold'], axis = 0)

In [ ]:
for col in movie.columns:
    print(col)

In [ ]:
list(movie.columns.values)

In [ ]:
horror = movie[(movie['Genre'] == "Horror")]
pd.DataFrame(horror['Movie'])